.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap: 1rem;
    background-color: #215889;
}

.container_mixes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c1c;
    border-radius: 5px;
    padding: 15px;
    gap: 1rem;
    transition: ease-in-out;
}

.container_mixes_input {
    width: 500px;
    font-size: 20px;
    height: 40px;
    padding: 5px;
}

.container_mixes_save{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

.container_mixes_btn {
    height: 40px;
    width: 90px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    transition: .5s;
    cursor: pointer;
}

.container_mixes_btn:hover {
    background-color: #3B3B3B;
    border-radius: 5px;
    font-size: 18px;
}

.container_my_mixes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #040404;
    width: 100%;
    padding: 15px 15px;
    border-radius: 5px;
}

.container_my_mixes p{
    font-size: 28px;
    font-weight: 600;
}

.mix_play {
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;
    padding: 10px 10px;
    cursor: pointer;
    transition: .5s;
    font-size: 18px;
}

.remove_btn {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(162, 39, 39);
    border: none;
    font-size: 12px;
    width: 60px;
    height: 25px;
}

.mix_play:hover {
    background-color: #3B3B3B;
    transform: scale(1.03);
}


.sound_map {
    display: grid;
    grid-template-columns: repeat(7, auto);;
   align-items: center;
   justify-content: center;
    list-style-type: none;
    gap: 1rem;
    margin-top: 20px;
    padding-bottom: 70px;
}

.images {
    width: 150px;
}



.sound_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
    white-space: nowrap;
    width: 100px;
    margin-top: 10px;
}

.sound_card_playing .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 50%;
    padding: 5px;
    transform: scale(1.1);
    transition: 0.5s;
    background-color: black;
    width: 70px;
    height: 70px;
}

.icon {
    font-size: 34px;
}

.button {
    background-color: transparent;
    cursor: pointer;
    border: 2px white solid;
    border-radius: 50%;
    padding: 17px;
    cursor: pointer;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 80px;
    height: 20px; /* Примерная высота */
    position: absolute;
    bottom: -20px;
}

.title {
    font-size: 2.2em;
    line-height: 1.1;
    text-align: center;
  }



  @media (max-width: 844px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        padding:0px 5px;
        gap: 0rem;
        position: relative;
    }
    
    .sound_map {
        display: grid;
        grid-template-columns: repeat(3, auto);;
       gap: 1.5rem;
       align-items: center;
       justify-content: center;
        list-style-type: none;
        padding-bottom:0px;
    }
    
    .slider{
        display: none;
        width: 80px;
        height: 20px; /* Примерная высота */
        position: absolute;
        bottom: -20px;
    }

    .container_mixes {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1c1c1c;
        border-radius: 5px;
        padding: 3px 5px ;
        gap: 1rem;
        width: 370px;
        transition: ease-in-out;
        margin-top: 10px;
    }
    
    .container_mixes_input {
        width: 275px;
        font-size: 20px;
        height: 40px;
        padding: 5px;
    }
    
    .container_mixes_save{
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 10px;
    }
    
    .container_mixes_btn {
        height: 40px;
        width: 70px;
        font-size: 12px;
        background-color: transparent;
        border: 1px solid #215889;
        border-radius: 10px;
        transition: .5s;
        cursor: pointer;
        
    }
    
    .container_mixes_btn:hover {
        background-color: #3B3B3B;
        border-radius: 5px;
        font-size: 18px;
    }
    
    .container_my_mixes{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        background-color: #040404;
        width: 100%;
        height: 200px;
        overflow: auto;
        padding: 15px 15px;
        border-radius: 5px;
    }
    
    .container_my_mixes p{
        font-size: 28px;
        font-weight: 600;
    }
    
    .mix_play {
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 10px;
        cursor: pointer;
        transition: .5s;
        font-size: 18px;
    }
    
    .remove_btn {
        border-radius: 5px;
        padding: 5px;
        background-color: rgb(162, 39, 39);
        border: none;
        font-size: 12px;
        width: 60px;
        height: 25px;
    }
    
    .mix_play:hover {
        background-color: #3B3B3B;
        transform: scale(1.03);
    }
    
    
    
    .sound_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0;
        position: relative;
    }

    .name {
        margin-top: 5px;
        
    }
    
    .sound_card_playing .button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px rgb(255, 255, 255) solid;
        border-radius: 50%;
        padding: 10px;
        transform: scale(1.1);
        transition: 0.5s;
        background-color: black;
        width: 60px;
        height: 60px;
    }
    
    .icon {
        font-size: 32px;
        color: white;
    }
    
    .button {
        background-color: transparent;
        cursor: pointer;
        border: 2px white solid;
        border-radius: 50%;
        padding: 10px;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    
    .slider{
        width: 80px;
        height: 20px; /* Примерная высота */
        position: absolute;
        bottom: -20px;
    }
    
    .title {
        font-size: 32px;
        margin-top: 10px;
        line-height: 1.1;
        text-align: none;
      }
  }


