.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: calc(100vh - 70px);
    gap: 1rem;
    padding-top: 50px;
}

.sound_map {
    display: grid;
    grid-template-columns: repeat(7, auto);;
   gap: 2rem;
   align-items: center;
   justify-content: center;
    list-style-type: none;
    padding: 20px;
}

.images {
    width: 150px;
}


.sound_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .1rem;
    position: relative;
    width: 120px;
    white-space: nowrap;
}

.sound_card_playing .button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 50%;
    padding: 5px;
    transform: scale(1.1);
    transition: 0.5s;
    background-color: black;
    width: 70px;
    height: 70px;
}

.icon {
    font-size: 34px;
}

.button {
    background-color: transparent;
    cursor: pointer;
    border: 2px white solid;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.slider{
    width: 80px;
    height: 20px; /* Примерная высота */
    position: absolute;
    bottom: -20px;
}

.title {
    font-size: 2.2em;
    line-height: 1.1;
    text-align: center;
  }

  @media (max-width: 844px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        padding: 10px 0;
        gap: 2rem;
    }
    
    .sound_map {
        display: grid;
        grid-template-columns: repeat(3, auto);;
       gap: 1.5rem;
       align-items: center;
       justify-content: center;
        list-style-type: none;
        padding-bottom: 200px;
    }
    

    
    .sound_card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .1rem;
        position: relative;
    }
    
    .sound_card_playing .button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px rgb(255, 255, 255) solid;
        border-radius: 50%;
        padding: 10px;
        transform: scale(1.1);
        transition: 0.5s;
        background-color: black;
        width: 90px;
        height: 90px;
    }
    
    .icon {
        font-size: 36px;
        color: white;
    }
    
    .button {
        background-color: transparent;
        cursor: pointer;
        border: 2px white solid;
        border-radius: 50%;
        padding: 10px;
        width: 90px;
        height: 90px;
        cursor: pointer;
    }
    
    .slider{
        width: 80px;
        height: 20px; /* Примерная высота */
        position: absolute;
        bottom: -20px;
    }
    
    .title {
        font-size: 3.2em;
        line-height: 1.1;
        text-align: center;
      }
  }


